.openCalendar{
    position: fixed;
    top: 45%;
    width: 40px;
    height: 140px;
    background-color:#B51280;
    color: white;
    border-radius: 20px 0 0 20px;
    right: 0px;
    z-index: 100;
    user-select: none;
    cursor: pointer;

    p{
        width: 130px;
        transform: rotate(-90deg);
        position: relative;
        top: 60px;
        right: 45px;
    }

}

.calendar{
    box-sizing: border-box;
    position: fixed;
    right: -80vw;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: white;
    width: 80vw;
    overflow-x: auto;
    padding: 30px;

    .fc-prev-button,.fc-next-button,.fc-today-button{
        background-color: $main-blue;
        border: 1px solid white;

        &:hover{
            background-color: #009ea7;
            border-color: #009ea7;
        }
    }
}

.moveOpenCalendarRight{
    animation: moveOpenCalendarRight 0.4s linear;
    right: 0;
}

.moveOpenCalendarLeft{
    animation: moveOpenCalendarLeft 0.4s linear;
    right: 80vw;
}

.moveCalendarRight{
    animation: moveCalendarRight 0.4s linear;
    right: -80vw;
}

.moveCalendarLeft{
    animation: moveCalendarLeft 0.4s linear;
    right: 0;
}

@keyframes moveOpenCalendarRight{
    0%{
        right: 80vw;
    }
    100%{
        right: 0;
    }
}

@keyframes moveOpenCalendarLeft{
    0%{
        right: 0;
    }
    100%{
        right: 80vw; 
    }
}

@keyframes moveCalendarRight{
    0%{
        right: 0;
    }
    100%{
        right: -80vw;
    }
}

@keyframes moveCalendarLeft{
    0%{
        right: -80vw;
    }
    100%{
        right: 0;
    }
}