.openCalendar{
    position: absolute;
    top: 50%;
    height: 40px;
    width: 140px;
    background-color: $main-blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    transform: rotate(-90deg);
    right: -50px;
    cursor: pointer;
}

.calendar{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: white;
    width: 80vw;
}