.Signin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form{
        padding: 40px 20px 40px 20px;
        margin-top: 40px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 500px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            align-self: center;
            font-size: 1.5em;
        }
        input{
            border-radius: 10px;
            border: 1px solid #ddd;
            height: 35px;
            padding: 5px;
            font-size: 1.2em;
            width: 100%;
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        .signin-link{
            color: rgb(54, 188, 241);
            text-decoration: underline;
            font-size: 1em;
            cursor: pointer;
        }
        button{
            background-color: $main-blue;
            border-radius: 10px;
            color: white;
            width: 150px;
            height: 40px;
            border: none;
            align-self: center;
            font-size: 1em;
        }
    }
}