* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Century Gothic', Arial, sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e4dfdf));
  background: linear-gradient(white, #e4dfdf);
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.none {
  display: none;
  border: none;
}

.none > * {
  display: none;
}

@media (max-width: 1050px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1050px) {
  .hide-for-desktop {
    display: none;
  }
}

.list {
  width: 100%;
  padding: 0 22px 0 22px;
  overflow: auto;
}

.list-item {
  height: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: show;
}

.dark-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.body-content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-content > :not(:last-child) {
  margin-right: 30px;
}

.pop-up {
  position: absolute;
  z-index: 101;
  background-color: white;
  border-radius: 10px;
  height: 500px;
  width: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.quit {
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.quit > * {
  width: 20px;
  height: 4px;
  border: none;
  background-color: #aaaaaa;
  border-radius: 2px;
  position: absolute;
}

.quit .right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.quit .left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.checkbox {
  height: 13px;
  width: 13px;
  background-color: white;
  border: 1px solid black;
}

.checkbox:hover {
  border: 1px solid #5151ff;
}

.NewSessionAndTimerContainer {
  width: 37.875em;
  height: 20.25em;
  padding: 0;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.NewSessionAndTimerContainerTop {
  height: 13%;
  background-color: #00ADB5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 28px 4px 28px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.NewSessionAndTimerContainerTop p {
  color: white;
  font-size: 18px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}

.flipY {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipX {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.PomodoroContainer {
  background-color: lightblue;
  height: 87%;
  width: 100%;
  border-radius: 0 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.TopNav {
  width: 100%;
  height: 3.625rem;
  background-color: #F9F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 15px 2px 15px;
  -webkit-box-shadow: 0 2px 6px #D5D5D5;
          box-shadow: 0 2px 6px #D5D5D5;
}

@media (max-width: 1050px) {
  .TopNav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.TopNav .nav-option {
  display: inline-block;
  font-size: 20px;
  color: #4E4E4E;
  cursor: pointer;
}

.TopNav .nav-option:not(:last-child) {
  margin-right: 20px;
}

.TopNav .nav-option::before {
  content: "";
  display: block;
  height: 2px;
  position: relative;
  left: 0;
  right: 0;
  top: 30px;
}

.TopNav .nav-option:hover::before {
  background: -webkit-gradient(linear, left top, right top, from(#6df5ff), to(#cbfcff));
  background: linear-gradient(to right, #6df5ff, #cbfcff);
}

.TopNav button {
  width: 114px;
  height: 30px;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
}

.TopNav .HamburgerMenu {
  cursor: pointer;
}

.TopNav .hm-line {
  height: 3px;
  width: 27px;
  background-color: #00ADB5;
}

.TopNav .hm-line:not(:last-child) {
  margin-bottom: 3px;
}

.TopNav .Leftnav {
  width: 42%;
}

.TopNav .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 16%;
}

@media (max-width: 1050px) {
  .TopNav .Logo {
    width: 200px;
    justify-self: flex-end;
  }
}

.TopNav .Rightnav {
  text-align: end;
  width: 42%;
}

.History {
  width: 386px;
  margin-left: 115px;
}

.History .list {
  height: 368px;
}

.History .list .list-item p {
  font-size: 15px;
}

.History .list .list-item .date {
  width: 85px;
}

.History .list .list-item .name {
  width: 207px;
}

.History .list .list-item input {
  width: 50px;
}

.History .delete-history {
  height: 38px;
  width: 100%;
  background-color: #F55353;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Missed {
  width: 406px;
  margin-left: 210px;
}

.Missed .list {
  height: 368px;
}

.Missed .list .list-item svg {
  width: 30px;
  cursor: pointer;
}

.Missed .list .list-item p {
  font-size: 15px;
}

.Missed .list .list-item .date {
  width: 85px;
}

.Missed .list .list-item .name {
  width: 207px;
}

.Missed .list .list-item .checkbox {
  margin-left: 13px;
}

.Missed .delete-missed-reviews {
  height: 38px;
  width: 100%;
  background-color: #F55353;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.MyTopics {
  width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MyTopics .show-completed-topics {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-right: 15px;
}

.MyTopics .show-completed-topics input {
  margin-left: 5px;
}

.MyTopics .list {
  height: 100%;
}

.MyTopics .list .list-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MyTopics .list .list-item p {
  font-size: 15px;
}

.MyTopics .list .list-item .name {
  width: 207px;
}

.MyTopics .list .list-item .delete {
  background-color: #F55353;
  font-weight: 800;
}

.MyTopics .list .list-item button {
  background-color: #00ADB5;
  color: white;
  width: 55px;
}

.MyTopics .delete-completed-topics {
  height: 38px;
  width: 100%;
  background-color: #F55353;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Settings {
  width: 386px;
}

.tab {
  position: absolute;
  top: 55px;
  z-index: 99;
  background-color: white;
  height: 406px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

.NewSessionContainer {
  position: absolute;
  height: 87%;
  width: 100%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 10px 24px 6px 24px;
}

.NewSessionContainer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.NewSessionContainer .form p {
  font-size: 21px;
  color: gray;
}

.NewSessionContainer .form .topic-date-review {
  width: 262px;
  margin-right: 31px;
}

.NewSessionContainer .form .topic-date-review > * {
  margin-bottom: 14px;
}

.NewSessionContainer .form .topic-date-review .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.NewSessionContainer .form .topic-date-review .date select {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  position: relative;
}

.NewSessionContainer .form .references {
  width: 262px;
}

.NewSessionContainer .form .references > * {
  margin-bottom: 14px;
}

.NewSessionContainer .form .references textarea {
  height: 170px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  resize: none;
  padding: 5px;
}

.NewSessionContainer .form input, .NewSessionContainer .form select {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  width: 262px;
  padding-left: 4px;
}

.NewSessionContainer button {
  width: 108px;
  height: 35px;
  font-size: 18px;
  color: #4E4E4E;
  background-color: white;
  padding: 5px 24px 5px 24px;
  border: 1px solid #00ADB5;
  border-radius: 5px;
}

#day {
  width: 57px;
}

#month {
  width: 105px;
}

#year {
  width: 80px;
}

.UpcomingReviews {
  margin-left: 50px;
  width: 365px;
  height: 485px;
  background-color: white;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.UpcomingReviews .title {
  background-color: #00ADB5;
  color: white;
  border-radius: 4px 4px 0 0;
  font-size: 20px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.UpcomingReviews .upcomingReviewsList {
  height: 441px;
  overflow: auto;
  padding: 0 22px 0 22px;
}

.UpcomingReviews .upcomingReviewsList .UpcomingReview {
  height: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: show;
}

.UpcomingReviews .upcomingReviewsList .UpcomingReview svg {
  width: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.UpcomingReviews .upcomingReviewsList .UpcomingReview p {
  font-size: 15px;
}

.UpcomingReviews .upcomingReviewsList .UpcomingReview .date {
  width: 85px;
}

.UpcomingReviews .upcomingReviewsList .UpcomingReview .name {
  width: 187px;
}

.UpcomingReviews .upcomingReviewsList .UpcomingReview .checkbox {
  margin-right: 13px;
}

.UpcomingReviews .upcomingReviewsList .UpcomingReview input {
  width: 50px;
}

.Tips {
  width: 606px;
  height: 131px;
  background-color: #00ADB5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  text-align: center;
}

.Reschedule {
  height: 150px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Reschedule .quit {
  right: 10px;
  top: 15px;
}

.Reschedule p {
  font-size: 18px;
  text-align: center;
}

.Reschedule button {
  height: 30px;
  width: 50px;
  font-size: 16px;
  background-color: #00ADB5;
  border: none;
  border-radius: 5px;
  color: white;
}

.Reschedule select {
  border-radius: 5px;
  border: 1px solid #d5d5d5;
}

.Reschedule select:not(:last-child) {
  margin-right: 20px;
}

.DeleteHistory {
  width: 328px;
  height: 160px;
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DeleteHistory .quit {
  top: 15px;
  right: 10px;
}

.DeleteHistory button {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}

.DeleteHistory .cancel {
  background-color: white;
  border: 1px solid black;
  margin-right: 20px;
}

.DeleteHistory .delete {
  background-color: #F55353;
  font-weight: 800;
  color: white;
  border: 1px solid #F55353;
}

.DeleteHistory .warning {
  font-size: 12px;
}

.DeleteMissed {
  width: 328px;
  height: 160px;
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DeleteMissed .quit {
  top: 15px;
  right: 10px;
}

.DeleteMissed button {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}

.DeleteMissed .cancel {
  background-color: white;
  border: 1px solid black;
  margin-right: 20px;
}

.DeleteMissed .delete {
  background-color: #F55353;
  font-weight: 800;
  color: white;
  border: 1px solid #F55353;
}

.DeleteMissed .warning {
  font-size: 12px;
}

.EditTopic {
  width: 400px;
  height: 500px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #4E4E4E;
}

.EditTopic > p {
  text-align: center;
  margin-bottom: 25px;
}

.EditTopic .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.EditTopic .name p {
  margin-right: 10px;
}

.EditTopic .name input {
  height: 23px;
  width: 280px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
}

.EditTopic .references {
  margin-bottom: 15px;
}

.EditTopic .references p {
  margin-bottom: 5px;
}

.EditTopic .references textarea {
  resize: none;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  width: 375px;
  height: 100px;
}

.EditTopic .reviews {
  margin-bottom: 15px;
}

.EditTopic .reviews div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.EditTopic .reviews div svg {
  cursor: pointer;
  margin-left: 10px;
}

.EditTopic .reviews > p {
  margin-bottom: 5px;
}

.EditTopic .reviews ol {
  height: 150px;
  overflow: auto;
  padding-left: 30px;
}

.EditTopic .quit {
  top: 15px;
  right: 10px;
}

.EditTopic button {
  font-size: 18px;
  width: 70px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #00ADB5;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.DeleteTopic {
  width: 328px;
  height: 160px;
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DeleteTopic .quit {
  top: 15px;
  right: 10px;
}

.DeleteTopic button {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}

.DeleteTopic .cancel {
  background-color: white;
  border: 1px solid black;
  margin-right: 20px;
}

.DeleteTopic .delete {
  background-color: #F55353;
  font-weight: 800;
  color: white;
  border: 1px solid #F55353;
}

.DeleteTopic .warning {
  font-size: 12px;
}

.ReferencesPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 200px;
}

.ReferencesPopup .quit {
  top: 20px;
  right: 15px;
}

.ReferencesPopup .title {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.ReferencesPopup .box {
  height: 100px;
  border: 1px solid #ddd;
  width: 300px;
  padding: 5px;
  overflow: auto;
  border-radius: 5px;
}

.DeleteCompletedTopics {
  width: 328px;
  height: 160px;
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DeleteCompletedTopics .quit {
  top: 15px;
  right: 10px;
}

.DeleteCompletedTopics button {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}

.DeleteCompletedTopics .cancel {
  background-color: white;
  border: 1px solid black;
  margin-right: 20px;
}

.DeleteCompletedTopics .delete {
  background-color: #F55353;
  font-weight: 800;
  color: white;
  border: 1px solid #F55353;
}

.DeleteCompletedTopics .warning {
  font-size: 12px;
}

.AddCustomizedReviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AddCustomizedReviews button {
  margin-top: 10px;
  width: 90px;
  height: 40px;
  color: white;
  background-color: #00ADB5;
  border: none;
  font-size: 1em;
  border-radius: 10px;
  font-weight: 900;
}

.AddCustomizedReviews .list {
  height: 200px;
  width: 200px;
  overflow: auto;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 30px;
  margin-top: 10px;
  text-align: center;
}

.AddCustomizedReviews .list ul {
  list-style: none;
}

.AddCustomizedReviews input {
  width: 60px;
}

.AddCustomizedReviews #reviewName {
  width: 200px;
}

.AddCustomizedReviews .text {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.AddCustomizedReviews .title {
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
}

.AddCustomizedReviews .quit {
  top: 15px;
  right: 10px;
}

.Login {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Login .form {
  padding: 20px;
  margin-top: 40px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 305px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Login .form p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.Login .form .signin-link {
  color: #36bcf1;
  text-decoration: underline;
  font-size: 1em;
  margin-bottom: 20px;
  cursor: pointer;
}

.Login .form input {
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 35px;
  padding: 5px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.Login .form button {
  background-color: #00ADB5;
  border-radius: 10px;
  color: white;
  width: 150px;
  height: 40px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  margin-bottom: 5px;
}

.Signin {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Signin .form {
  padding: 40px 20px 40px 20px;
  margin-top: 40px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Signin .form p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5em;
}

.Signin .form input {
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 35px;
  padding: 5px;
  font-size: 1.2em;
  width: 100%;
}

.Signin .form input:not(:last-child) {
  margin-bottom: 20px;
}

.Signin .form .signin-link {
  color: #36bcf1;
  text-decoration: underline;
  font-size: 1em;
  cursor: pointer;
}

.Signin .form button {
  background-color: #00ADB5;
  border-radius: 10px;
  color: white;
  width: 150px;
  height: 40px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
}

.openCalendar {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 140px;
  background-color: #00ADB5;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 20px 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: -50px;
  cursor: pointer;
}

.calendar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 0;
  z-index: 100;
  background-color: white;
  width: 80vw;
}

.SwitchBotton {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 53px;
  height: 29px;
}

.SwitchBotton .circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

.SwitchBotton .timer {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.Timer {
  width: 148px;
  height: 52px;
  background-color: lightgray;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 24px 15px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Timer p {
  z-index: 5;
  font-family: 'Consolas', Arial, sans-serif;
  font-size: 26.62px;
  color: white;
}

.Timer::before {
  content: "";
  width: 74px;
  height: 52px;
  background-color: gray;
  position: absolute;
  border-radius: 17px 0 0 17px;
  top: 0;
  left: 0;
}

.PomodoroClock {
  height: 100%;
  background-color: lightgreen;
  width: 40%;
  border-radius: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.PomodoroClock .clock {
  width: 127px;
  width: 127px;
  position: relative;
}

.PomodoroClock .clock img {
  width: 100%;
  height: 100%;
}

.PomodoroClock .clock .clock-hand {
  position: absolute;
  top: 22px;
  left: 55px;
  -webkit-transform-origin: 8.6px 44.4px;
          transform-origin: 8.6px 44.4px;
}

.PomodoroSettings {
  height: 100%;
  background-color: pink;
  width: 60%;
  border-radius: 0 0 30px 0;
}

.runTimer {
  -webkit-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;
}

.pause {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.continue {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.PomodoroSettings {
  padding: 40px 22px 34px 39px;
  height: 100%;
}

.PomodoroSettings .settings {
  margin-bottom: 10px;
}

.PomodoroSettings .settings .settings-row {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PomodoroSettings .settings .settings-row p {
  font-size: 13px;
  width: 80%;
}

.PomodoroSettings .settings .settings-row input {
  width: 20%;
  height: 26px;
  border-radius: 8px;
  border: none;
}

.PomodoroSettings .clock-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PomodoroSettings .clock-buttons button {
  width: 56px;
  height: 26px;
  border-radius: 12px;
  background-color: gray;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PomodoroSettings .clock-buttons button:not(:last-child) {
  margin-right: 20px;
}

.PomodoroSettings .clock-buttons #play {
  background-color: #4AC563;
}

.PomodoroSettings .clock-buttons #pause {
  background-color: #EBF144;
}

.PomodoroSettings .clock-buttons #stop {
  background-color: #F55353;
}

.PomodoroSettings .clock-buttons button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
/*# sourceMappingURL=style.css.map */